html {
    background-color: rgba(125, 202, 195, 0.379);
    }

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items:center;
    justify-content: space_between;
    background-color: rgba(72, 235, 235, 0.285);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
}

.navbar a:hover{
    background: #fa0;
}


button{
    background: rgba(166, 163, 158, 0.532);
    display: block;
    cursor: pointer;
}

.logo{
    margin-left: 20px;
    height: 40px;
    cursor: pointer;
}

.slider {
    width: 600px;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 1800px;
    animation: slide 9s infinite;
}

.slides img {
    width: 600px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer; 
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    33% { transform: translateX(-33.33%); }
    53% { transform: translateX(-33.33%); }
    66% { transform: translateX(-66.66%); }
    86% { transform: translateX(-66.66%); }
    100% { transform: translateX(0); }
}

.recommands h4 {
        font-size: 20px;
        margin-bottom: 10px;
}

.recommands ul {
    display: flex;
    justify-content: space-between;
}

.recommands img{
    width: 200px; 
    height: 200px; 
    margin: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid #ccc;
    cursor: pointer;
}

.recommands li img:hover {
    transform: scale(1.15);
}

footer {
    min-width: 980px;
    height: 80px;
}

.playbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.playbarbtn {
    background-color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbarbtn a {
    color: black;
}