html,body {
    background-color: rgba(125, 202, 195, 0.379);
    }

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items:center;
    justify-content: space_between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
}

.navbar a:hover{
    background: #fa0;
}


button{
    background: rgba(166, 163, 158, 0.532);
    display: block;
    cursor: pointer;
}

.logo{
    height: 40px;
    cursor: pointer;
}